@model DaVinciGlobal.Models.Relatorio

@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<h4>Relatorio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemperaturaMaxima" class="control-label"></label>
                <input asp-for="TemperaturaMaxima" class="form-control" />
                <span asp-validation-for="TemperaturaMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemperaturaMedia" class="control-label"></label>
                <input asp-for="TemperaturaMedia" class="form-control" />
                <span asp-validation-for="TemperaturaMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemperaturaMinima" class="control-label"></label>
                <input asp-for="TemperaturaMinima" class="form-control" />
                <span asp-validation-for="TemperaturaMinima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SensorId" class="control-label"></label>
                <select asp-for="SensorId" class ="form-control" asp-items="ViewBag.SensorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
