@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <img src="~/DaVinciOcean.png" alt="DaVinci Ocean Logo" class="mt-3">
                <br>
            </div>
        </div>
    </div>
</header>

<section class="custom-bg" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Atualmente, os corais enfrentam um problema grave de branqueamento, que já pode ser considerado uma "epidemia" pela forma desenfreada que vem acontecendo. <br> <br>
                    O adoecimento dos corais é muito perigoso, pois eles não só são importantes para a biodiversidade marinha, como também são responsáveis por 50% da produção de oxigênio no nosso planeta. <br> <br>
                    A DaVinci Ocean se preocupa com o futuro dos nossos corais, e por isso, vimos a necessidade de um sistema de monitoramento marítimo onde também seja possível exibir relatórios à cientistas e demais pessoas interessadas,
                    assim como informar autoridades ambientais locais de forma automatizada, ou até mesmo permitir que voluntários registrem eventos.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading custom-heading"><br>Nossos Serviços (Em Desenvolvimento)</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon"></i>
                    <h3 class="mb-3">Análise com Inteligência Artificial</h3>
                    <p class="text-blue mb-0"><b>A inteligência artificial será o coração do nosso sistema de monitoramento. Treinaremos modelos de machine learning para analisar dados sobre temperatura da água, pH, salinidade e outros parâmetros críticos. 
                        Esses algoritmos identificarão padrões e preverão eventos de branqueamento, permitindo uma resposta rápida e eficaz. </b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon"></i>
                    <h3 class="mb-3">Monitoramento em tempo real</h3>
                    <p class="text-blue mb-0"><b>Implementaremos uma rede de sensores subaquáticos conectados à internet para coletar dados em tempo real sobre as condições dos recifes de coral. 
                        A partir daí, os dados serão processados e analisados continuamente, permitindo que as autoridades ambientais e pesquisadores tenham acesso a informações atualizadas e possam responder prontamente a quaisquer sinais de estresse nos recifes.</b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-code text-primary mb-3 sr-icon"></i>
                    <h3 class="mb-3">Alertas Automatizados</h3>
                    <p class="text-blue mb-0"><b>Assim que um evento crítico for detectado, o sistema enviará imediatamente notificações às autoridades locais, permitindo uma resposta rápida e coordenada. 
                        Este mecanismo de alerta garante que as medidas preventivas ou de intervenção sejam tomadas prontamente, minimizando os danos aos recifes de coral e aumentando as chances de recuperação dos ecossistemas afetados.</b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon"></i>
                    <h3 class="mb-3">Engajamento da comunidade</h3>
                    <p class="text-blue mb-0"><b>Será desenvolvido um aplicativo mobile para permitir que a comunidade local visualize os dados coletados pelos sensores, 
                        reporte observações sobre a saúde dos recifes e participe de campanhas de conscientização, como também criar uma plataforma web para fornecer informações sobre os recifes de coral, os impactos do branqueamento e as ações de restauração em andamento. </b></p>
                </div>
            </div>
        </div>
    </div>
</section>